{% extends "base.html" %}

{% block content %}
<br>
{% if error %}
	<div class="row">
		<div class="s10 offset-s1 center">
			<h4 class="red-text darken-3" onclick="M.toast({html: 'Try Again!',classes: 'rounded'})">{{error}}</h4>
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="col s12">
		<div class="card white darken-1">
			<div class="card-content black-text">
				<span class="card-title center">Sign In!</span>
				<form method="POST" action="{% url "login" %}">
					{% csrf_token %}
					<div class="row">
						<div class="input-field col s10 offset-s1">
							<input id="username" type="text" class="validate" name="username">
							<label for="username">Username</label>
						</div>
						<div class="input-field col s10 offset-s1">
							<input id="password" type="password" class="validate" name="pass">
							<label for="password">Password</label>
						</div>
					</div>
					<div class="card-action center">
						<button class="btn-large waves-effect waves-light cyan darken-3" type="submit" name="action">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
