{% extends "base.html" %}

{% block content %}
<style type="text/css">
	.slewedBox3{
		position: absolute;	
		/*background-image: linear-gradient(to bottom right, #a01e1e, #ff3232);*/
		background-image: linear-gradient(to bottom right, #f43b47 0%, #453a94 100%);
		width: 100%;
		height: 65%;
		padding: 200px 0;
		transform: skew(0deg, 6deg) translateY(-190px);
		z-index: -1;
	}
	.btn-color{
		/*background-image: linear-gradient(to bottom right, #ff3232, #a01e1e);*/
		background-image: linear-gradient(to bottom right, #f43b47 0%, #453a94 100%);
	}

</style>
<div class="slewedBox3">
</div>
<br>

<div class="container">
{% if error %}
	<div class="row">
		<div class="s10 offset-s1 center">
			<h4 class="white-text darken-3" onclick="M.toast({html: 'Try Again!',classes: 'rounded'})">{{error}}</h4>
		</div>
	</div>
	
{% endif %}
<div class="row">
	<div class="col s12 m8 offset-m2">
		<div class="card white darken-1">
			<div class="card-content black-text">
				<span class="card-title center">Sign Up!</span>
				<form method="POST" action="{% url "signup" %}">
					{% csrf_token %}
					<div class="row">
						<div class="input-field col s10 offset-s1">
							<input id="username" type="text" class="validate" name="username">
							<label for="username">Username</label>
						</div>
						<div class="input-field col s10 offset-s1">
							<input id="password1" type="password" class="validate" name="pass1">
							<label for="password1">Password</label>
						</div>
						<div class="input-field col s10 offset-s1">
							<input id="password2" type="password" class="validate" name="pass2">
							<label for="password2">Confirm Password</label>
						</div>
					</div>
					<div class="card-action center">
						<br>
						<button class="btn-large waves-effect waves-light cyan darken-3 oval btn-color z-depth-3" type="submit" name="action">Sign Up!</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<br><br>
{% endblock content %}
