{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" sizes="192x192" href="{% static "ico2.png" %}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>{% block title %}F-Unlock{% endblock title %}</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style type="text/css">
	.logo{
		margin-top: 15%;
		width: 50px;
	}
	.foot-color{
		background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	}
	#arrow {
		position: relative;
		top: 0;
		transition: top ease 0.2s;
	}
	#arrow:hover {
		top: -15px;
	}

	.content-banner{
		transform: skew(0deg, 6deg);
	}
	.rounder{
		border-radius: 30px;
		height: 260px;
	}
	.oval{
		border-radius: 30px;
	}

	.top-logo{
		height: 45%;
		position: relative;
		top: 5px;
		left: 15px;
	}
	.fab-ico{
		height: 45%;
	}
	.fab-btn-fix{
		position: relative; 
		top:7px;
	}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body class="blue-grey lighten-5">
	<nav class="white z-depth-2">
		<div class="container nav-wrapper ">
			{% block logolink %}
			<a href="{% url "home" %}" class="flow-text black-text"><img class="top-logo" src="{% static "top-logo.png" %}"></a>
			{% endblock logolink %}
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{% url "admin:index" %}" class="black-text">Admin</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url "panel" %}" class="black-text">Panel</a></li>
				<li><a href="javascript:{document.getElementById('logout').submit()}" class="black-text">Logout</a></li>
				<form id="logout" method="POST" action="{% url "logout" %}">
					{% csrf_token %}
					<input type="hidden" />
				</form>
				{% else %}
				<li><a href="{% url "signup" %}" class="black-text">Sign Up</a></li>
				<li><a href="{% url "login" %}" class="black-text">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="mobile-demo">
		<br><br><br>
		<li class="center">
			<img style="height: 200px; top: 50px;" src="{% static "logo.png" %}">
		</li>
		<br>
		<li><a href="{% url "admin:index" %}" class="black-text">Admin</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url "panel" %}" class="black-text">Panel</a></li>
		<li><a href="javascript:{document.getElementById('logout').submit()}" class="black-text">Logout</a></li>
		<form id="logout" method="POST" action="{% url "logout" %}">
			{% csrf_token %}
			<input type="hidden" />
		</form>
		{% else %}
		<li><a href="{% url "login" %}">Login</a></li>
		<li><a href="{% url "signup" %}">Sign Up</a></li>
		{% endif %}
	</ul>
	<br>

	<div class="fixed-action-btn toolbar">
		<a class="btn-floating btn-large deep-purple darken-3">
			<i class="large material-icons">menu</i>
		</a>
		<ul class="">
			{% if user.is_authenticated %}
			<li><a href="javascript:{document.getElementById('logout').submit()}" class="btn-floating fab-btn-fix">
				<img src="{% static "logout.png" %}" class="fab-ico">
			</a></li>
			{% else %}
			<li><a href="{% url "login" %}" class="btn-floating fab-btn-fix">
				<img src="{% static "login.png" %}" class="fab-ico">
			</a></li>
			<li><a href="{% url "signup" %}" class="btn-floating fab-btn-fix">
				<img src="{% static "register.png" %}" class="fab-ico">
			</a></li>
			{% endif %}
			<li><a href="{% url "admin:index" %}" class="btn-floating fab-btn-fix">
				<img src="{% static "admin.png" %}" class="fab-ico">
			</a></li>

		</ul>
	</div>
	{% block content %}

	{% endblock content %}


	<footer class="page-footer foot-color">
		<div class="container">
			<div class="row">
				<div class="col l12 s12">
					<h5 class="white-text">F-Unlock</h5>
					<p class="grey-text text-lighten-4">The project is about smart lock which can be unlocked using Face Recognition. The face is recognised using PiCamera in real time through Raspberry Pi. In case of successful authentication, the Raspberry Pi commands the relay to unlock the lock & hence the door is opened.</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© {% now "jS F, Y" %} | Copyright by F-Unlock | <a class="yellow-text" href="http://www.thapar.edu/" target="_blank">Thapar Institute of Engineering & Technology</a>
				<a class="grey-text text-lighten-4 right" href="{% url "home" %}">Home</a>
			</div>
		</div>
	</footer>



	<script type="text/javascript">
	$(document).ready(function(){
		$('.sidenav').sidenav();
	});
	$(document).ready(function(){
		$('.fixed-action-btn').floatingActionButton({
		    toolbarEnabled: true
		});
	});

	</script>

</body>
</html>