{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.box{
		transition: all 0.3s ease-in-out;
	}
	.box:hover {
		transform: scale(1.1);
		box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	}
	.ico{
		position: relative;
		top: 12px;
	}
	.larger{
		width: 100%;
		border-radius: 100px;
	}
	.btn-color{
		background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
	}
	.btn-color-1{
		background-image: linear-gradient(to bottom right, #6a11cb 0%, #2575fc 100%);
	}
	.slewedBox {
		position: absolute;	
		background-image: linear-gradient(to bottom right, #0d0077, #ff3d3d);
		width: 100%;
		height: 90%;
		padding: 200px 0;
		transform: skew(0deg, -6deg) translateY(-190px);
		z-index: -1;
	}
	.result-color-success{
		background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.result-color-fail{
		background-image: linear-gradient(225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.offset{
		position: relative;
		top: 10px;
	}

	@media screen and (min-width: 801px) {
		.call-action{
			position: relative;
			bottom: 4px;
			font-size: 40px;
		}
	}

	@media screen and (max-width: 800px) {
		.call-action{
			position: relative;

			font-size: 20px;
		}
	}
</style>

<div class="slewedBox ">
</div>

{% if msg %}
	<div class="container">
	<div class="row center">
		<div class="col s12 m8 offset-m2">
			<div class="card grey lighten-5 oval hoverable z-depth-5">
				<div class="card-content">
				{% if msg == "No" %}
				    <span class="result-color-fail flow-text">Access <b>Denied!</b> You are an unapproved individual</h4>
			    {% else %}    
					<span class="result-color-success flow-text">{{msg}}.</span>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	</div>
{% else %}
<br>
{% endif %}

<div class="container">
	<div class="row">
		<div class="col s12 m8 ">
			<h3 class="white-text">An unlocking system based on <b>Facial</b> Recognition</h3>
			<div class="flow-text white-text">
				<blockquote>Smart lock using Face Recognition.<br>
					Connected to Raspberry Pi for lock-relay operation.<br>
					Consists of real time web app<br>
				Theft prevention during unauthorized access.</blockquote>
			</div>
		</div>
		<div class="col m4 hide-on-small-only">
			<br>
			<img class="responsive-img" src="{% static "logo2.png" %}">
		</div>
	</div>
	<div class="row ">
		<div class="col s12 m4 ">
			<div class="card-panel grey lighten-5 z-depth-5 rounder" id="arrow">
				<span class="flow-text valign-wrapper">1. Registration &#8291; &#8291;<i class="small material-icons">cloud_download</i></span>
				<p>Input of Face data into Database</p>
				<br>
				<span class="flow-text valign-wrapper">2. Finding the face &#8291;<i class="small material-icons">search</i></span>
				<p>Camera will keep looking for a new face to recognize.</p>
			</div>
		</div>
		<div class="col s12 m4 ">
			<div class=" card-panel grey lighten-5 z-depth-5 rounder" id="arrow">
				<span class="flow-text valign-wrapper">3. Capture new face &#8291;<i class="small material-icons">center_focus_strong</i></span>
				<p>Take multiple shots to check if it is a trusted face</p>
				<span class="flow-text valign-wrapper">4. Open the lock? &#8291;<i class="small material-icons">lock_open</i></span>
				<p>Lock opens if there is a trusted person</p>
			</div>
		</div>
		<div class="col s12 m4 ">
			<div class=" card-panel grey lighten-5 z-depth-5 rounder" id="arrow">
				<span class="flow-text valign-wrapper">5. Reinforce &#8291; &#8291;<i class="small material-icons">update</i></span>
				<p>Incorporate the new face data to improve reliability over time.</p>
				<span class="flow-text valign-wrapper">6. Success &#8291;<i class="small material-icons">done_all</i></span>
				<p>Keep On Repeating!</p>
				<br>
			</div>
		</div>
	</div>
	<br><br><br>
	<div class="divider"></div><br>
	
	<div class="row center">
		<div class="col s10 offset-s1 m6 offset-m3 l8 offset-l2">
		{% if user.is_authenticated %}
			<a href="{% url "panel" %}" class="red accent-4 larger z-depth-3 waves-effect waves-light btn-large">
				<i class="material-icons right">pets</i>Take me to my panel!
			</a>
		{% else %}
			<a href="{% url "login" %}" class="cyan accent-4 larger z-depth-3 waves-effect waves-light btn-large">
			Login to your panel!<i class="material-icons right">fingerprint</i>
			</a>
		{% endif %}
		</div>
	</div>
	<div class="row center">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<form id="onetime" method="POST" action="{% url "onetime" %}" enctype="multipart/form-data" >
				{% csrf_token %}
				<input type="hidden" />
			</form>
			<a id="progress-trigger-1" href="javascript:{document.getElementById('onetime').submit()}" class="waves-effect waves-light btn-large larger btn-color z-depth-3">Request One Time Access<i class="material-icons right">home</i></a>
		</div>
	</div>
	<div class="row center" id="progress-funlock-1" style="display: none">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-red">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-yellow">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-green">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row center">
		<div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
			<form id="funlock" method="POST" action="{% url "funlock" %}" enctype="multipart/form-data" >
				{% csrf_token %}
				<input type="hidden" />
			</form>
			<a id="progress-trigger-2" href="javascript:{document.getElementById('funlock').submit()}" class="waves-effect waves-light btn-large larger btn-color-1 z-depth-3">Unlock my door!<i class="material-icons right">center_focus_strong</i></a>
		</div>
	</div>
	<div class="row center" id="progress-funlock-2" style="display: none">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-red">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-yellow">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-green">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
		    $("#progress-trigger-1").click(function () {
		        $("#progress-funlock-1").toggle();
		    });
		});
		$(document).ready(function () {
		    $("#progress-trigger-2").click(function () {
		        $("#progress-funlock-2").toggle();
		    });
		});
	</script>
	
	<div class="divider"></div>
	<div class="row center">
		<h2><i class="medium material-icons ico">group</i> &#8291;Team</h2>
	</div>
	<div class="row">
		<div class="col 12 m10 offset-m1 center">
			<div class="col s12 m4">
				<img class="responsive-img circle box" src="{% static "ajay.jpg" %}">
				<h5 class="">Ajay Jindal</h5>
				<p>101503016</p>
			</div>
			<div class="col s12 m4">
				<img class="responsive-img circle box" src="{% static "salwan.jpg" %}">
				<h5 class="">Abhishek Salwan</h5>
				<p>101503007</p>
			</div>
			<div class="col s12 m4">
				<img class="responsive-img circle box" src="{% static "handa.jpg" %}">
				<h5 class="">Abhishek Handa</h5>
				<p>101503006</p>
			</div>
		</div>
	</div>
</div>
<br><br><br>
{% endblock content %}