{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.box{
		transition: all 0.3s ease-in-out;
	}
	.box:hover {
		transform: scale(1.1);
		box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	}
	.ico{
		position: relative;
		top: 12px;
	}
	.larger{
		width: 100%;
		border-radius: 100px;
	}
	.btn-color{
		background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
	}
	.slewedBox {
		position: absolute;	
		background-image: linear-gradient(to bottom right, #0d0077, #ff3d3d);
		width: 100%;
		height: 115%;
		padding: 200px 0;
		transform: skew(0deg, -6deg) translateY(-190px);
		z-index: -1;
	}

</style>

<div class="slewedBox ">
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col s12 m8 ">
			<h3 class="white-text">An unlocking system based on <b>Facial</b> Recognition</h3>
			<div class="flow-text white-text">
				<blockquote>Smart lock using Face Recognition.<br>
					Connected to Raspberry Pi for lock-relay operation.<br>
					Consists of real time web app<br>
				Theft prevention during unauthorized access.</blockquote>
			</div>
		</div>
		<div class="col m4 hide-on-small-only">
			<br>
			<img class="responsive-img" src="{% static "logo2.png" %}">
		</div>
	</div>
	<div class="row ">
		<div class="col s12 m4 ">
			<div class="card-panel grey lighten-5 z-depth-5 rounder" id="arrow">
				<span class="flow-text valign-wrapper">1. Registration &#8291; &#8291;<i class="small material-icons">cloud_download</i></span>
				<p>Input of Face data into Database</p>
				<br>
				<span class="flow-text valign-wrapper">2. Finding the face &#8291;<i class="small material-icons">search</i></span>
				<p>Camera will keep looking for a new face to recognize.</p>
			</div>
		</div>
		<div class="col s12 m4 ">
			<div class=" card-panel grey lighten-5 z-depth-5 rounder" id="arrow">
				<span class="flow-text valign-wrapper">3. Capture new face &#8291;<i class="small material-icons">center_focus_strong</i></span>
				<p>Take multiple shots to check if it is a trusted face</p>
				<span class="flow-text valign-wrapper">4. Open the lock? &#8291;<i class="small material-icons">lock_open</i></span>
				<p>Lock opens if there is a trusted person</p>
			</div>
		</div>
		<div class="col s12 m4 ">
			<div class=" card-panel grey lighten-5 z-depth-5 rounder" id="arrow">
				<span class="flow-text valign-wrapper">5. Reinforce &#8291; &#8291;<i class="small material-icons">update</i></span>
				<p>Incorporate the new face data to improve reliability over time.</p>
				<span class="flow-text valign-wrapper">6. Success &#8291;<i class="small material-icons">done_all</i></span>
				<p>Keep On Repeating!</p>
				<br>
			</div>
		</div>
	</div>
	<br><br><br><br><br>
	<div class="row center">
			<i class="small material-icons offset">pets</i>
			{% if user.is_authenticated %}
			<span class="call-action"> &#8291; Take me to my panel! &#8291; &#8291; &#8291;</span>
			<a href="{% url "panel" %}" class="red accent-4 z-depth-3 waves-effect waves-light btn-large oval">Let's Go!</a>
			{% else %}
			<span class="call-action"> &#8291; Login to your panel! &#8291; &#8291; &#8291;</span>
			<a href="{% url "login" %}" class="cyan accent-4 z-depth-3 waves-effect waves-light btn-large oval">Login!</a>
			{% endif %}
	</div>

	<br><br><br>
	<div class="row center">
		<h2><i class="medium material-icons ico">group</i> &#8291;Team</h2>
	</div>
	<div class="row">
		<div class="col 12 m10 offset-m1 center">
			<div class="col s12 m4">
				<img class="responsive-img circle box" src="{% static "ajay.jpg" %}">
				<h5 class="">Ajay Jindal</h5>
				<p>101503016</p>
			</div>
			<div class="col s12 m4">
				<img class="responsive-img circle box" src="{% static "salwan.jpg" %}">
				<h5 class="">Abhishek Salwan</h5>
				<p>101503007</p>
			</div>
			<div class="col s12 m4">
				<img class="responsive-img circle box" src="{% static "handa.jpg" %}">
				<h5 class="">Abhishek Handa</h5>
				<p>101503006</p>
			</div>
		</div>
	</div>
</div>
<br><br><br><br>
{% endblock content %}